/* コンテナー全体 */
/* .app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
} */

/* タイトル */
.title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* エラーメッセージ */
.error {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}

/* スレッド一覧 */
.thread-list {
  list-style: none;
  padding: 0;
  margin: 0 auto 1rem; /* 下に間をあける */
  max-width: 400px;
}

/* スレッドの行 */
.thread-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

/* ボタンのグループを横並びに */
.button-group {
  display: flex;
  justify-content: center; /* 中央揃え */
  gap: 10px; /* ボタン間の余白 */
}

/* ページングボタン */
.paging-button {
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007acc;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.paging-button:hover:not([disabled]) {
  background-color: #005da5;
}

.paging-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

header{
  background-color: #aafacb;
}